In [1]:
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Rock'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Spock','Paper'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Spock'):(0,0),}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

choice(strategies)

'Paper'

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Spock'}]

In [7]:
Players[0]['strategy'],Players[1]['strategy']

('Rock', 'Spock')

In [8]:
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [9]:
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [10]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Spock'}]

In [11]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      0     Rock
1  Mary      1    Spock

In [12]:
winnerScore=socialResults.score.max()
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Mary      1    Spock

In [ ]:
# Add more players

In [13]:
names=['Jim','Jane','Peter','Zoe','John','Mary']

In [14]:
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [15]:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'John', 'score': 0, 'strategy': None},
 {'name': 'Mary', 'score': 0, 'strategy': None}]

In [16]:
import itertools 

for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'John', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})

In [17]:
import itertools 

for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'John', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}

In [18]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [19]:
society

[{'name': 'Jim', 'score': 202, 'strategy': 'Rock'},
 {'name': 'Jane', 'score': 178, 'strategy': 'Lizard'},
 {'name': 'Peter', 'score': 210, 'strategy': 'Lizard'},
 {'name': 'Zoe', 'score': 189, 'strategy': 'Spock'},
 {'name': 'John', 'score': 209, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 196, 'strategy': 'Paper'}]

In [20]:
socialResults=pd.DataFrame(society)
socialResults

    name  score strategy
0    Jim    202     Rock
1   Jane    178   Lizard
2  Peter    210   Lizard
3    Zoe    189    Spock
4   John    209     Rock
5   Mary    196    Paper

In [21]:
winnerScore=socialResults.score.max()

In [22]:
socialResults[socialResults.score==winnerScore]

    name  score strategy
2  Peter    210   Lizard