In [5]:
import pandas as pd

DFage=pd.read_csv("https://github.com/Bearnamedjoey/guided1/raw/main/Medianage.csv")
DFalc=pd.read_csv("https://github.com/Bearnamedjoey/guided1/raw/main/Alcohol.csv")

In [8]:
DF1=pd.merge(DFage, DFalc, on='Country')

In [9]:
DF1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 187
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank_x                  188 non-null    int64
 1   Country                 188 non-null    object
 2   Years                   188 non-null    float64
 3   Rank_y                  188 non-null    int64
 4   liters of pure alcohol  188 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.8+ KB

In [10]:
DFobe=pd.read_csv("https://github.com/Bearnamedjoey/guided1/raw/main/obesity.csv")
DFtbc=pd.read_csv("https://github.com/Bearnamedjoey/guided1/raw/main/Tobacco.csv")

In [11]:
DF2=pd.merge(DFobe, DFtbc, on='Country')

In [12]:
DF2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 163
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank_x                  164 non-null    int64
 1   Country                 164 non-null    object
 2   Percent of Obesity      164 non-null    float64
 3   Rank_y                  164 non-null    int64
 4   Percent of Tobacco Use  164 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 7.7+ KB

In [14]:
DFpeople=pd.merge(DF1, DF2, on='Country')

In [15]:
DFpeople.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 0 to 161
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank_x_x                162 non-null    int64
 1   Country                 162 non-null    object
 2   Years                   162 non-null    float64
 3   Rank_y_x                162 non-null    int64
 4   liters of pure alcohol  162 non-null    float64
 5   Rank_x_y                162 non-null    int64
 6   Percent of Obesity      162 non-null    float64
 7   Rank_y_y                162 non-null    int64
 8   Percent of Tobacco Use  162 non-null    float64
dtypes: float64(4), int64(4), object(1)
memory usage: 12.7+ KB

Index(['Rank_x_x', 'Country', 'Years', 'Rank_y_x', 'liters of pure alcohol',
       'Rank_x_y', 'Percent of Obesity', 'Rank_y_y', 'Percent of Tobacco Use'],
      dtype='object')