#hello world

In [1]:
from IPython.display import IFrame 
agelink="https://www.cia.gov/the-world-factbook/field/median-age/country-comparison"
IFrame(agelink, width=900, height=500)

In [10]:
import pandas as pd
agetable=pd.read_html(agelink, header=0)
agetable[0].head()

   Rank                    Country  years Date of Information
0     1                     Monaco   55.4                 NaN
1     2                      Japan   48.6                 NaN
2     3  Saint Pierre and Miquelon   48.5                 NaN
3     4                    Germany   47.8                 NaN
4     5                      Italy   46.5                 NaN

In [11]:
from IPython.display import IFrame
poplink="https://www.cia.gov/the-world-factbook/field/population/country-comparison"
IFrame(agelink, width=900, height=500)

In [12]:
poptable=pd.read_html(poplink, header=0)
poptable[0].head()

   Rank        Country  Unnamed: 2 Date of Information
0     1          China  1410539758           2022 est.
1     2          India  1389637446           2022 est.
2     3  United States   337341954           2022 est.
3     4      Indonesia   277329163           2022 est.
4     5       Pakistan   242923845           2022 est.